# macOS
.DS_Store

# git
.git

# virtual environment
bin/
etc/
lib/
include/
share/
pyvenv.cfg

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# OkPy related files
*.ok_*

# Test and coverage
.pytest_cache/
.coverage
htmlcov/
